:root {
    --main-bg-color: #EDEAE5;
    --main-txt-color: #026670;
    --main-sections-color: #9FEDD7;
    --headers-color: #026670;
    --buttons-nav-color: #FCE181;
    --nav-foot-txt-color: #026670;
}
*{
    margin: 0;
    box-sizing: border-box;
    color: var(--main-txt-color);
    font-family: 'Cinzel', serif;
}

html {
    scroll-behavior: smooth;
    background-color: var(--main-bg-color);
}

.app-name{
    float: left;
    margin: auto;
    font-size: 1.4em;
}

.nav {
    text-align: right;
    color: var(--main-txt-color);
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 0 5px 0 5px;
    background-color: var(--buttons-nav-color);
}
/*
footer {
    text-align: right;
    color: var(--nav-foot-txt-color);
    height: 40px;
    line-height: 40px;
    border-top: 1px solid var(--headers-color);
    width: 100%;
    padding: 0 5px 0 5px;
    position: relative;
    bottom: 0px;
    background-color: var(--buttons-nav-color);
}*/

.hidden{
    opacity: 0.0;
    transition: 1s;
}
.hidden-slow{
    opacity: 0.0;
    transition: 1s;
    transition-delay: 3s;
}

label{
    display: block;
}

div img{
    width: 90%;
    border-radius: 10px;
}

.menu {
    margin: 0 30px 0 0;
    text-align: center;
    display: none;
}

.menu a {
    clear: right;
    text-decoration: none;
    line-height: 50px;
    display: block;
    color: var(--nav-foot-txt-color);
    border-bottom: 1px solid var(--headers-color);
    margin: 0;
    background-color: var(--buttons-nav-color);
    position: relative;
    width: 96vw;
}

#toggle {
    display: none;
}

#toggle:checked+.menu {
    display: block;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Barrio', cursive;
}

h1, h2{
    color: var(--headers-color);
}

.search, .button{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.button{
    width: 60px;
    background-color: var(--buttons-nav-color);
}

.background{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--main-sections-color);
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

footer{
    border-top: 1px solid rgb(128, 82,128);
    padding-top: 5px;
    background-color: var(--buttons-nav-color);
}

footer ul {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px 0px 40px;
}

.logos, .contact {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#design{
    font-size: 10px;
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 480px) {
   
}

@media screen and (min-width: 768px) {}